<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Getting Started: Serving Web Content</title>
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div>
		<span><strong>Be-Amazing - the undisputed online store
				;-)</strong></span>
	</div>
	<table id="usersTable">
		<tr>
			<th>item number</th>
			<th>name</th>
			<th>description</th>
			<th>price</th>
			<th>in stock</th>
		</tr>
		<!-- 		https://getbootstrap.com/docs/4.0/content/tables/ -->
		<tr th:each="item : ${items}">
			<td class="item number" th:text="${item.number}">n/a</td>
			<td class="item name" th:text="${item.name}">n/a</td>
			<td class="description" th:text="${item.description}">n/a</td>
			<td class="price" th:text="${item.price}">n/a</td>
			<td class="available"
				th:text="${item.instock} ? 'available' : 'not available'">n/a</td>
		</tr>
	</table>


</body>
</html>